.App {
  text-align: center;
  border: 4px solid;
  border-color: #F8BBD0 #90CAF9 #90CAF9 #F8BBD0 ;
  position: absolute;
  top: 5%;
  left: 25%;
  width: 50%;
  padding: 30px 20px;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-input{
  margin: 0px auto 20px auto;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 15px;
  color: #61dafb pink;
  border-color: #F8BBD0 #90CAF9 #90CAF9 #F8BBD0 ;
}

.allBabyNames{
  margin: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.f/*female*/{
  background-color: #F8BBD0;
  width: fit-content;
  border-radius: 5px;
  padding: 2px;
  color: #C2185B;
  font-weight: bolder;
  margin: 5px;
  font-size: 19px;
  padding: 2px 8px; 
}

.m/*male*/{
  background-color: #90CAF9;
  width: fit-content;
  border-radius: 5px;
  padding: 2px;
  color: #0D47A1;
  font-weight: bolder;
  margin: 5px;
  font-size: 19px;
  padding: 2px 8px; 
}

.line{
  border-bottom: 2px solid rgb(189, 183, 183);
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}